* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;
}

header {
	max-width: 100%;
	height: 70px;
	background: #f0f0f0;
}

.box {
	width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;

	nav {
		display: flex;
		gap: 20px;

		a {
			text-decoration: none;
			color: #000;
			font-size: 20px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
		}
	}

	.accountBox {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 70px;
		gap: 20px;

		p {
			color: #000;
			text-align: right;
			font-size: 20px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
		}

		.logOutIcon {
			width: 20px;
			display: flex;
			align-items: center;
		}
	}
}

.greetings {
	width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding-top: 50px;

	h1 {
		color: #000;
		font-size: 48px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
	}

	p {
		color: #0047ff;
		font-size: 18px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
	}
}

.wallets_box {
	width: 1208px;
	margin: 0 auto;
	padding-top: 75px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	h1 {
		color: #000;
		font-size: 24px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		width: 170px;
	}

	.wallets {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 30px;

		.wallet_1 {
			width: 282px;
			height: 160px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding: 20px 215px 20px 25px;
			border-radius: 15px;
			background: linear-gradient(84deg, #d7816a 2.27%, #bd4f6c 92.26%);
			cursor: pointer;
		}

		.wallet_2 {
			width: 282px;
			height: 160px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding: 20px 215px 20px 25px;
			border-radius: 15px;
			background: linear-gradient(84deg, #5f0a87 2.27%, #a4508b 92.26%);
			cursor: pointer;
		}

		.wallet_3 {
			width: 282px;
			height: 160px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding: 20px 215px 20px 25px;
			border-radius: 15px;
			background: linear-gradient(84deg, #20bf55 2.27%, #01baef 92.26%);
			cursor: pointer;
		}

		.wallet_4 {
			width: 282px;
			height: 160px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding: 20px 215px 20px 25px;
			border-radius: 15px;
			background: linear-gradient(84deg, #380036 2.27%, #0cbaba 92.26%);
			cursor: pointer;
		}
	}

	a {
		color: #0047ff;
		font-size: 16px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		text-decoration-line: underline;
		width: 180px;
	}
}

.currency {
	color: #fff;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.walletName {
	color: #fff;
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.transactions {
	width: 1200px;
	margin: 0 auto;
	padding-top: 75px;
	padding-bottom: 75px;

	h1 {
		color: #000;
		font-size: 24px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
	}

	a {
		color: #0047ff;
		font-size: 16px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		text-decoration-line: underline;
	}
}

table {
	border-collapse: collapse;
	width: 100%;
	margin: 20px auto;
}

th,
td {
	padding: 8px;
}

tr {
	border-bottom: 1px solid #b9c0d1;
}

tr:first-child {
	border-bottom: none;
}

tr:last-child {
	border-bottom: none;
}

th {
	color: #b9c0d1;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	text-align: start;
}

td {
	color: #000;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}
.continue{
	height: 55px;
	width: 500px;
	padding: 5px;
	border-radius: 10px;
	background: #0047FF;
	border: none;
	margin-top: 25px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
}