* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
  background: rgb(233, 233, 233);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.leftside {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.rightside {
  display: flex;
  justify-content: space-between;
  gap: 10px;

}

.loged {
  display: none;
}

.welcome {
  margin: 45px 0;
}

.card {
  width: 300px;
  height: 170px;
  background: #000;
  border-radius: 15px;
  background: linear-gradient(84deg, #D7816A 2.27%, #BD4F6C 92.26%);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.cards {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
.card:nth-child(2n-1){
  border-radius: 15px;
    background: linear-gradient(84deg, #20BF55 2.27%, #01BAEF 92.26%);
}
.card:nth-child(4){
  border-radius: 15px;
    background: linear-gradient(84deg, #bf2020 2.27%, #01BAEF 92.26%);
}
.wallets{
  margin: 50px 0 ;
}
.head{
  color: rgb(192, 192, 192);
  text-align: left;
  border-bottom: 1px solid #000;
}
td{
  border-bottom: 2px solid #e7e7e7;
  padding: 10px 0;
}
table{
  border: none;
}