* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    width: 300px;
    margin: 0 auto;
    display: flex;
    gap: 30px;
    flex-direction: column;
    height: 850px;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

h1 {
    text-align: center;
}

.a {
    display: block;
    text-align: center;
    text-decoration: none;
}

input {
    border-radius: 10px;
    padding: 10px 20px;
    border: 1px solid black;
}
.button{
    border-radius: 10px;
    padding: 10px 20px;
    border: 1px solid rgb(58, 58, 255);
    background: rgb(58, 58, 255);
    color: white;
    text-align: center;
    text-decoration: none;
}