* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 140px auto;
    text-align: center;
    gap: 10px;
}

form h1 {
    color: #000;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 20px;
}

form input, form select {
    width: 440px;
    padding: 0 10px;
    height: 50px;
    flex-shrink: 0;
    margin: 0 auto;
    border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #000;
    background: #FFF;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

form a {
    color: #0047FF;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}
.add{
	height: 55px;
	width: 500px;
	padding: 5px;
	border-radius: 10px;
	background: #0047FF;
	border: none;
	margin-top: 25px;
	text-decoration: none;
	color: white;
	font-size: 18px;
	font-weight: 600;
	width: 100%;
	height: 100%;
}
.error {
    border: 2px solid #ff0202;
    color: red;
}